<!DOCTYPE html>

<html>

<head>

  <title>SignUp</title>

  <link rel="stylesheet" href="../stylesheets/signup.css">
  

</head>

<body>

  <div class="container">
    <h2>Signup</h2>
    <form action="/signup" method="post">
      <div class="mb-3">
        <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username">
      </div>
      <div class="mb-3">
        <input type="password" name="password" class="form-control" id="exampleInputPassword1"placeholder="Password">
      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
 

 
</body>

</html>
